* {
	margin: 0;

	/* IE and Edge */
	-ms-overflow-style: none;

	/* Firefox */
	scrollbar-width: none;
}

/* Hide scrollbar for Chrome,Safari and Opera  */
&::-webkit-scrollbar {
	display: none;
}

body {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

.task-list-item::before {
	@apply hidden;
}

.task-list-item {
	@apply list-none;
}

.footnotes {
	@apply mt-12 border-t border-200 pt-8 dark:border-700;
}

.data-footnote-backref {
	@apply no-underline;
}

.csl-entry {
	@apply my-5;
}
