---
import RootLayout from '../layouts/RootLayout.astro';
---

<RootLayout>
	<h1 class='cursor-default select-none text-8xl font-bold'>Hello World!</h1>
	<p class='mt-4 text-lg italic'>This is a sample page.</p>
</RootLayout>
