---
import { Mail, Github, Linkedin, Twitter } from 'lucide-react';

import { SITE_DATA } from '../lib/constants';
---

<footer class='mt-16 flex flex-col items-center'>
	<small class='mb-3 flex space-x-2 text-base text-400 dark:text-400'>
		<span>©</span>
		<span>{new Date().getFullYear()}</span>
		<span>•</span>
		<span>{SITE_DATA.siteOwner}</span>
		<span>•</span>
		<span>All rights reserved.</span>
	</small>
</footer>
