---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'> & {
	href: string;
};

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, '');
---

<a
	href={href}
	target={href.startsWith('http') ? '_blank' : undefined}
	class:list={[className, { 'text-accent-500': isActive }]}
	{...props}>
	<slot />
</a>
