---
import HeaderLink from './HeaderLink.astro';
import Logo from './Logo.astro';
import MobileMenu from './MobileMenu.astro';

import { NAVIGATION } from '../lib/constants';
---

<header class='mt-2'>
	<nav class='flex h-[2.5rem] items-center justify-between py-12'>
		<a href='/'>
			<div class='flex items-center justify-between'>
				<Logo
					width='100'
					height='70'
					viewBox='0 0 100 72'
					class='mr-10 fill-1000 dark:fill-0'
				/>
			</div>
		</a>
		<div class='flex items-center space-x-4 leading-5 md:space-x-6'>
			{
				NAVIGATION.filter((link) => link.href !== '/').map((link) => (
					<HeaderLink
						href={link.href}
						class='hidden font-medium md:block'>
						{link.title}
					</HeaderLink>
				))
			}

			<MobileMenu />
		</div>
	</nav>
</header>
