---
import { type CollectionEntry, getEntry } from 'astro:content';

interface Props {
	tag?: CollectionEntry<'tags'>;
	slug?: CollectionEntry<'tags'>['slug'];
}
let Tag = Astro.props.tag;

if (!Tag && Astro.props.slug) {
	Tag = await getEntry('tags', Astro.props.slug);
}

const { slug, data } = Tag!;
---

<a
	href={`/tags/${slug}`}
	class='mr-3 text-sm font-medium uppercase text-accent-500 hover:text-accent-600 dark:hover:text-accent-400'>
	{data.name}
</a>
