---
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import RootContainer from '../components/RootContainer.astro';
import RootHead from '../components/RootHead.astro';

import { SITE_DATA } from '../lib/constants';

const { title, description } = Astro.props;
---

<html
	lang={SITE_DATA.language}
	class='scroll-smooth'>
	<RootHead
		title={title}
		description={description}
	/>
	<body
		class='cursor-default select-none bg-0 text-1000 transition-colors duration-300 antialiased dark:bg-950 dark:text-0'>
		<RootContainer>
			<div class='flex h-screen flex-col justify-between font-base'>
				<Header />
				<main
					class='mb-auto'
					transition:animate='fade'>
					<slot />
				</main>
				<Footer />
			</div>
		</RootContainer>
	</body>
</html>
